html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  
  background-image: url();
  background-color: #b5bdc43d;
  height: 100%;
  margin-bottom: 0;
}

.routeDiv {
  height: 100%;
}

#root {
  height: 100%;
}

.memberWrapper {
  height: 100%;
}

.sideWrap {
  height: 100%;
}

.sideContainer {
  background-color: rgba(219, 219, 219, 0.61);
  width: 20%;
  height: 100%;
  border-right: 1px solid gray;
  float: left;
  
}

.searchDiv {
  width: 80%;
  float: left;
  padding-top: 65px;
}

.topHalf {
  text-decoration: none;
  padding-top: 65px;
  height: 50%;
}

.botHalf {
  text-decoration: none;
  
  height: 50%;
}

.exploreTitle {
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 1.5px;
}

.inspirTitle {
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 1.5px;
}
