html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  
  background-image: url();
  background-color: #b5bdc43d;
  height: 100%;
  margin-bottom: 0;
}

.routeDiv {
  height: 100%;
}

#root {
  height: 100%;
}

.memberWrapper {
  height: 100%;
}

.sideWrap {
  height: 100%;
}

.sideContainer {
  background-color: rgba(219, 219, 219, 0.61);
  width: 334px;
  height: 100%;
  border-right: 1px solid gray;
  
  
}

.searchDiv {
  width: 80%;
  position: absolute;
  padding-top: 65px;
  top: 0;
  margin-left: 334px;
}

.topHalf {
  list-style-type: none;
  padding-top: 65px;
  height: 50%;
}

.botHalf {
  list-style-type: none;
  
  height: 50%;
}

ul {
  list-style-type: none;
  text-decoration: none;


}

.nav-link {
  background: none;
  border: none;
  width: 100%;
  text-align: center;
}

.a {
  width: 100px;
  color: black;
  padding: 10px;
 
}

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.315);
}

button:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.315);
}

.nav-item {
  padding: 20px;
  width: 80%;
  text-align: center;

}

.exploreTitle {
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 10px;
}

.inspirTitle {
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 10px;
}

.search {
  padding: 26px;
}

.recentDiv {
  width: 80%;
  position: absolute;
  top: 0;
  margin: 150px auto;
  left: 0;
  right: 0;
  margin-left: 334px;
}

.recentDiv2 {
  width: 80%;
  position: absolute;
  top: 0;
  margin: 500px auto;
  left: 0;
  right: 0;
  margin-left: 334px;
}
